.custom-scroll::-webkit-scrollbar {
  width: 4px; /* thin scrollbar */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* track */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #3dff87; /* green thumb */
  border-radius: 10px;
}
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #3dff87 transparent;
}
